---
- name: Require git_user_name and git_user_email
  ansible.builtin.assert:
    that:
      - git_user_name is defined
      - git_user_email is defined
    fail_msg: "You must provide git_user_name and git_user_email (e.g. via vars, group_vars, or extra_vars)."

- name: Set global git user.name
  community.general.git_config:
    name: user.name
    value: "{{ git_user_name }}"
    scope: global
  become: true
  become_user: "{{ target_user }}"

- name: Set global git user.email
  community.general.git_config:
    name: user.email
    value: "{{ git_user_email }}"
    scope: global
  become: true
  become_user: "{{ target_user }}"
