---
- name: Ensure .ssh directory exists
  ansible.builtin.file:
    path: "{{ user_home }}/.ssh"
    state: directory
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: '0700'
  become: true
  become_user: "{{ target_user }}"

- name: Generate SSH key pair for GitHub
  community.crypto.openssh_keypair:
    path: "{{ user_home }}/.ssh/id_fedora_github"
    type: rsa
    size: 4096
    state: present
    owner: "{{ target_user }}"
    mode: '0600'
  become: true
  become_user: "{{ target_user }}"
  notify: Prompt for github key
