---
- name: Include Add repositories tasks
  ansible.builtin.include_tasks:
    file: repos.yml

- name: Ensure all packages are up to date
  ansible.builtin.dnf:
    name: "*"
    update_cache: true
    state: latest # noqa package-latest

- name: Install core packages
  ansible.builtin.dnf:
    name:
      - curl
      - unzip
      - git
      - zsh
      - fzf
      - zoxide
      - ghostty
      - code
      - syncthing
      - stow
      - gnome-tweaks
      - python3
      - python3-pip
      - python3-devel
      - python3-psutil
      - ansible-lint
      - gcc
      - perl
      - make
      - gdb
      - valgrind
    state: latest # noqa package-latest

- name: Upgrade pip
  ansible.builtin.pip:
    name: pip
    state: latest # noqa package-latest
    executable: /usr/bin/pip3

- name: Add pip packages
  ansible.builtin.pip:
    name:
      - recordclass
    state: present
  environment:
    PIP_BREAK_SYSTEM_PACKAGES: "1"

- name: Include Mount partition tasks
  ansible.builtin.include_tasks:
    file: mount-partition.yml
