---
- name: Enable the ghostty COPR repository
  community.general.copr:
    host: copr.fedorainfracloud.org
    name: scottames/ghostty
    state: enabled

- name: Install Microsoft GPG key for VS Code
  ansible.builtin.rpm_key:
    state: present
    key: https://packages.microsoft.com/keys/microsoft.asc

- name: Configure Visual Studio Code repository
  ansible.builtin.copy:
    content: |
      [code]
      name=Visual Studio Code
      baseurl=https://packages.microsoft.com/yumrepos/vscode
      enabled=1
      autorefresh=1
      type=rpm-md
      gpgcheck=1
      gpgkey=https://packages.microsoft.com/keys/microsoft.asc
    dest: /etc/yum.repos.d/vscode.repo
    owner: root
    group: root
    mode: '0644'
