---
- name: Set Gnome window button layout (Right)
  community.general.dconf:
    key: /org/gnome/desktop/wm/preferences/button-layout
    value: "'appmenu:minimize,maximize,close'"
    state: present
  become: true
  become_user: "{{ target_user }}"

- name: Set system time format (24h)
  community.general.dconf:
    key: /org/gnome/desktop/interface/clock-format
    value: "'24h'"
    state: present
  become: true
  become_user: "{{ target_user }}"

- name: Enable battery percentage in GNOME (per user)
  community.general.dconf:
    key: "/org/gnome/desktop/interface/show-battery-percentage"
    value: "true"
    state: present
  become: true
  become_user: "{{ target_user }}"

- name: Disable hot corner
  community.general.dconf:
    key: /org/gnome/desktop/interface/enable-hot-corners
    value: false
    state: present
  become: true
  become_user: "{{ target_user }}"

- name: Enable dark theme
  community.general.dconf:
    key: /org/gnome/desktop/interface/color-scheme
    value: "'prefer-dark'"
    state: present
  become: true
  become_user: "{{ target_user }}"

- name: Pin apps to the GNOME taskbar
  become: true
  become_user: "{{ target_user }}"
  community.general.dconf:
    key: "/org/gnome/shell/favorite-apps"
    value: "['org.mozilla.firefox.desktop', 'com.mitchellh.ghostty.desktop', 'org.gnome.Nautilus.desktop', 'org.gnome.Software.desktop', 'code.desktop']"
    state: present

- name: Include Shortcuts tasks
  ansible.builtin.include_tasks:
    file: shortcuts.yml

- name: Include Images tasks
  ansible.builtin.include_tasks:
    file: images.yml

- name: Include Language tasks
  ansible.builtin.include_tasks:
    file: language.yml
